.text-field{
    -fx-background-color: rgb(207, 50, 50);
    -fx-text-fill: black;
}

.combo-box{
    -fx-background-color: rgb(207, 50, 50);
    -fx-text-fill: black;
}

.check-box{
    -fx-text-fill: rgb(207, 50, 50);
}

.check-box .box {
    -fx-background-color: rgb(207, 50, 50);
}