.button  {
    -fx-background-radius: 5,4,3,5;
    -fx-background-color:  rgb(223, 75, 44);
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-font-size: 15px;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
}

.button:hover{
    -fx-opacity: 0.50;
    -fx-background-radius: 5,4,3,5;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-font-size: 15px;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
}

.button:focused{
    -fx-background-color: rgb(224, 111, 87);
    -fx-text-fill: black;
    /*-fx-opacity: 0.50;*/
    -fx-background-radius: 5,4,3,5;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-font-size: 15px;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
}

.root{
    -fx-focus-color: transparent;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
    -fx-font-size: 15px;
    -fx-font-family: "Abel Font";
    -fx-base: rgb(223, 75, 44);
    -fx-background: rgb(54, 51, 50);
}


.text-field{
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0;
}

.text-field:disabled{
    -fx-opacity: 1.0;
    -fx-background-color: RGB(171,95,77);
    /* -fx-background-color:transparent;*/
}

.text-field:focused {
    -fx-background-color:  RGB(228,198,111);
}

.scroll-pane{
    -fx-padding: 15 15 15 15;
    -fx-border-color: rgb(54, 51, 50);
}

.scroll-pane:focused{
    -fx-border-color: rgb(54, 51, 50);
}


/*-------------CHECK BOX-------------*/

.check-box{
    -fx-text-fill: white;
}

.check-box:selected .mark {

}

.check-box:selected .box {

}

/*--------------COMBO BOX---------------*/

.combo-box-popup .list-view {

}

.combo-box-popup .list-view .list-cell {
    /*-fx-padding: -1 -1 -1 -1;*/
}

.combo-box {
    -fx-font-weight: bold;
}

.combo-box:focused {
	-fx-text-fill: black;
    -fx-background-color: RGB(228,198,111);
}


/*--------------PANELES DE ALERTA---------------*/

.dialog-pane{
    -fx-border-color: rgb(54, 51, 50);;
    -fx-border-width: 2.0px;
}

.dialog-pane > .button-bar > .container {
    -fx-background-color: rgb(54, 51, 50);
}

.dialog-pane > .content.label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-background-color: rgb(54, 51, 50);
    -fx-font-size: 15px;
}

.dialog-pane .button{
    -fx-background-radius: 5,4,3,5;
    -fx-background-color:  rgb(223, 75, 44);
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-font-size: 15px;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
}

.dialog-pane .button:hover{
    -fx-opacity: 0.50;
    -fx-background-radius: 5,4,3,5;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-font-size: 15px;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
}

dialog-pane .button:focused{
    -fx-background-color: rgb(224, 111, 87);
    -fx-text-fill: black;
    -fx-background-radius: 5,4,3,5;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-font-size: 15px;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
}